out/
awesome-go
@.cache/
check-*

# Folders
.idea
.vscode
test_stale_repositories_log
*.exe
# Local Netlify folder
.netlify
@# Awesome Go
/sindresorhus/awesome)
[![Slack Widget](https://img.shields.io/badge/join@@-us%20on%20slack-gray.svg?longCache=true&logo=slack&colorB=red)](https://gophers.slack.com/messages/awesome)
[![Netlify Status](https://api.netlify.com/api/v1/badges/83a6dcbe-0da6-433e-b586@-f68109286bd5/deploy-status)](https://app.netlify.com/sites/awesome-go/deploys)
[![Track Awesome List](https://www.trackawesomelist.com/badge.svg)](https://www.trackawesomelist.com/avelino/awesome-go/)
[![Last Commit](https://img.shields.io/github/last@-commit/avelino/awesome-go)](https://github.com